#landing {
  background-image: url('../images/main-banner.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  border: 1px solid transparent;
  font-family: 'Bangers', cursive;
  position: relative;

  h1 {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 8vw;
  }

  nav {
    position: absolute;
    top: 1em;
    left: 2em;

    a {
      margin-right: 1em;
      display: inline-block;
      transition: transform 0.3s ease-in;

      &, &:hover {
        text-decoration: none;
      }

      &:hover {
        transform: scale(1.4);
      }
    }
  }
}
